@import url('../node_modules/bootstrap/dist/css/bootstrap.css');

.flex-wrapper {
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.calculator {
  padding: 1.2rem;
  background-color: white;
  /* border: 1px solid darkgrey; */
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);

  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.equals-button {
  grid-row: 3 / span 2;
  grid-column: 5;
}